.container {
  max-width: 110rem;
  margin: auto;
  height: 100%;

  @include respond(tab-land) {
    max-width: 80rem;
  }
  @include respond(tab-port) {
    width: 80%;
  }
}

.form-container {
  width: 70rem;
  margin: 0 auto;

  @include respond(tab-land) {
    max-width: 60rem;
  }
  @include respond(tab-port) {
    width: 70%;
  }
}

.text--bold {
  font-size: 6rem;
  font-weight: bold;

  @include respond(tab-land) {
    font-size: 4rem;
  }
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.red {
  color: #ff0b0b;
}

.green {
  color: #7dd780;
}
