.header {
  height: 90vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    @include flexCenterCenter;
    flex-direction: row;

    @include respond(tab-port) {
      font-size: 0.8rem;
      transform: translateY(-5rem);
    }
  }

  &__img--sm {
    display: none;

    @include respond(tab-port) {
      display: block;
      margin-top: 15rem;
    }
  }

  &__img {
    margin: 0 1rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__buttons {
    width: 100%;
    display: block;
    margin: auto;
    @include flexBetweenCenter;
    height: 0;
    transform: translateY(-8rem);

    @include respond(tab-port) {
      transform: translateY(-5rem);
    }
    @include respond(phone) {
      transform: translateY(-5rem);
      width: 30rem;
    }

    & .btn {
      width: 48%;
    }
  }
}
